<app-navbar></app-navbar>


<div class="login">
    <mat-card class="login__card">
        <h2 class="login__title">Bienvenido</h2>

        <p class="login__valid" *ngIf="!validForm">Email y constraseña incorrectos</p>

        <form class="login__form" (ngSubmit)="onSubmit()" [formGroup]="loginForm">
            <mat-form-field>
                <mat-label>Correo</mat-label>
                <input matInput placeholder="example@example.com" formControlName="email" required>
                <mat-error *ngIf="!emailValid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Contraseña</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <button class="login__button" mat-raised-button color="primary">Sign In</button>

        </form>
        <div class="login__enlace">
            <a mat-button routerLink="recover_password">Olvidaste tu Contraseña?</a>
            <a mat-button routerLink="register">Registrare Ahora!</a>
        </div>
    </mat-card>
</div>