<header class="navbar">
    <div class="navbar--pc container">
        <div class="navbar__upper">

            <h2 routerLink="/" class="navbar__title">ProyectStore</h2>

            <div class="navbar__search">
                <input class="navbar__search__input" placeholder="Buscar" #searchInput type="text">
                <a class="navbar__search__button" (click)="searchInput.focus()" routerLink=""><mat-icon
                        svgIcon="search-button" aria-hidden="false"></mat-icon></a>
            </div>

            <div class="navbar__user">
                <a *ngIf="user == null" class="navbar__user__optionsName" routerLink="/auth/register">Register</a>
                <a *ngIf="user == null" class="navbar__user__optionsName" routerLink="/auth">Log In</a>

                <button *ngIf="user != null" class="navbar__user__optionsName"
                    [matMenuTriggerFor]="menuUser">{{user!.name}}</button>
                <mat-menu #menuUser="matMenu">
                    <a class="navbar__user__optionsName navbar__user__optionsName--categorias" routerLink="/user">Mi
                        cuenta</a>
                    <a class="navbar__user__optionsName navbar__user__optionsName--categorias"
                        routerLink="/user/ajustes">Ajustes</a>
                    <a class="navbar__user__optionsName navbar__user__optionsName--categorias" routerLink="/user/sell">Vender</a>
                    <a class="navbar__user__optionsName navbar__user__optionsName--categorias"
                        routerLink="">Historial</a>
                    <a class="navbar__user__optionsName navbar__user__optionsName--categorias" routerLink="">Mis
                        productos</a>
                    <a class="navbar__user__optionsName navbar__user__optionsName--categorias"
                        routerLink="">Notificaciones</a>
                    <a class="navbar__user__optionsName navbar__user__optionsName--categorias"
                        routerLink="">Favoritos</a>
                    <button *ngIf="user != null" class="navbar__user__optionsName navbar__user__optionsName--categorias"
                        (click)="logOut()">Log out</button>
                </mat-menu>

                <img *ngIf="user != null" class="navbar__user__image" [src]="srcImage" alt="">
            </div>
        </div>

        <div class="navbar__lower">

            <button class="navbar__user__optionsName" [matMenuTriggerFor]="menu">Categorias</button>
            <mat-menu #menu="matMenu">
                <a *ngFor="let category of categories"
                    class="navbar__user__optionsName navbar__user__optionsName--categorias"
                    routerLink="">{{category.name}}</a>
            </mat-menu>

            <a class="navbar__user__optionsName" routerLink="/user/sell">Vender</a>
            <a class="navbar__user__optionsName" routerLink="">Ayuda</a>
        </div>
    </div>

    <div class="sidenav">

        <div class="sidenav__buttonTitle">
            <button class="sidenav__button" (click)="slide = true"><mat-icon svgIcon="slide-button"></mat-icon></button>
            <h1 routerLink="/" class="sidenav__title">ProyectStore</h1>
        </div>

    </div>
</header>

<div class="slide" [ngClass]="{ 'slide--action': slide }">

    <div class="slide--in">

        <div class="navbar__user">

            <a *ngIf="user == null" class="navbar__user__optionsName" routerLink="/auth/register">Register</a>
            <a *ngIf="user == null" class="navbar__user__optionsName" routerLink="/auth">Log In</a>

            <a *ngIf="user != null" class="navbar__user__optionsName" routerLink="/user"
                (click)="slide = false">{{user!.name}}</a>
            <img *ngIf="user != null" class="navbar__user__image" [src]="srcImage" alt="">
        </div>

        <div class="slide__menu">

            <a class="navbar__user__optionsName" routerLink="">Categorias</a>
            <a class="navbar__user__optionsName" routerLink="">Vender</a>
            <a class="navbar__user__optionsName" routerLink="">Ayuda</a>
            <button *ngIf="user != null" class="navbar__user__optionsName" (click)="logOut()">Log out</button>

        </div>
    </div>
    <div class="slide--out" (click)="slide = false"></div>
</div>