
.sidevar{

    display: flex;
    height: 95vh;
    gap: 2%;
    overflow: hidden;

    &__side{
        flex: 3rem;
    }

    &__content{
        flex: 100%;
        position: sticky;
        z-index: 0;
        overflow: scroll;
    }   
}
