<main class="main--bg">
    <div class="main container">
        <h1 class="breadcrumb"><mat-icon aria-hidden="false" aria-label="Example home icon"
                fontIcon="credit_card"></mat-icon>
            Targetas </h1>
        <section class="card_list">

            <div class="card">
                <p class="card--text card--title">Targeta De Crédito </p>
                <p class="card--text">xxxx-xxxx-xxxx-4321 </p>
                <div class="card__info">
                    <p class="card--text">Brayan Alaya</p>
                    <p class="card--text">09/29</p>
                </div>
                <div class="card__actions">
                    <button mat-stroked-button>Editar</button>
                    <button mat-stroked-button color="warn">Eliminar</button>
                </div>
            </div>
            <div class="card">
                <p class="card--text card--title">Targeta De Crédito </p>
                <p class="card--text">xxxx-xxxx-xxxx-4876 </p>
                <div class="card__info">
                    <p class="card--text">Brayan Alaya</p>
                    <p class="card--text">10/28</p>
                </div>
                <div class="card__actions">
                    <button mat-stroked-button>Editar</button>
                    <button mat-stroked-button color="warn">Eliminar</button>
                </div>
            </div>
            <div class="card">
                <p class="card--text card--title">Targeta De Crédito </p>
                <p class="card--text">xxxx-xxxx-xxxx-9874 </p>
                <div class="card__info">
                    <p class="card--text">Brayan Alaya</p>
                    <p class="card--text">08/26</p>
                </div>
                <div class="card__actions">
                    <button mat-stroked-button>Editar</button>
                    <button mat-stroked-button color="warn">Eliminar</button>
                </div>
            </div>
            <button mat-button color="primary">Agregar</button>
        </section>
    </div>
</main>