.historial{
    padding-top: 2rem;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 2rem;
    &--bg{
        height: 100%;
        background-color: #f5f5f5;
        overflow: scroll;
    }
}

.breadcrumb{
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    opacity: 40%;
    gap: 10px;
}

.notifications{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.showMore{
    width: 8rem;
    margin: 0 auto;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .1);
}