<div class="product">
    <img routerLink="/product" [queryParams]="{id: cart.products?.id}" class="product__image" src="{{s3Url + image}}"
        alt="">
    <div class="product__info">

        <div class="product__info--details">
            <div class="product__info--flex">
                <h1 routerLink="/product" [queryParams]="{id: cart.products?.id}" class="product__info--title">
                    {{cart.products?.name
                    ?? "" | capitalize}}</h1>
            </div>
            <div class="product__info--flex">
                <div class="product__info--actionStock--flex">
                    <button (click)="substract()" class="product__info--text product__info--actionStock">{{cart.amount
                        == 1 ? '' : '—'}}
                        <mat-icon class="product__info--actionStock--icon" aria-hidden="false" *ngIf="cart.amount == 1"
                            aria-label="Example home icon" fontIcon="delete"></mat-icon>
                    </button>
                    <p class="product__info--text product__info--number">{{cart.amount}}</p>
                    <button (click)="add()" class="product__info--text product__info--actionStock">+
                    </button>
                </div>
                <p class="product__info--price">S/{{(cart.products?.price ?? 0) * (cart.amount ?? 0)}}</p>
            </div>
        </div>
        <button class="product__eliminar" (click)="delete()">Eliminar</button>
    </div>
</div>