<footer class="footer">
    <div class="container">
        <div class="footer__seccion">
            <p class="footer__parrafo">ProyectStore © 2024.</p>
            <a class="footer__enlace" href="mailto:brayan.alaya@hotmail.com">Email</a>
            <a class="footer__enlace" href="https://pe.linkedin.com/in/brayan-alaya-986a1327b">LinkedIn</a>
            <a class="footer__enlace" href="https://github.com/BrayanAlaya">GitHub</a>
        </div>
    </div>
    <div class="footer__bottom container">
        <p class="footer__parrafo">Este proyecto fue desarrollado como parte de mi portafolio personal.</p>
    </div>
</footer>